
:root {
    --banner-color-primary: #4287f5bd;
    --brightquartz: rgb(236, 236, 236);
    --nav-quartz: rgb(219, 209, 209);
    --text-default: black;
}
.home-banner {
    background-color:var(--banner-color-primary);
    width:100%;
    height:250px;
}
.home-element-body {
    margin:0%;
}
.home-body {
    transition: top 10s;
    height:3800px;
    background-color: var(--brightquartz);
    margin:0px;
}
.home-title-text {
    font-family: system-ui;
    font-size:60px;
    color: var(--brightquartz);
    padding-left:10%;
    padding-right:10%;
    padding-top:100px;
    text-align: center;
    text-decoration: underline;
}
.joke-gaytext {
    color:red;
    font-weight:bold;
}
.home-desc {
  font-family: system-ui;
  padding: 50px;
  color: var(--text-default);
  font-size:20px;
}
.navigation {
  height:50px;
  width:100%;
  background-color:var(--nav-quartz);
  position:fixed;
}
.nav-logo {
  padding:5px;
  align-items: center;
  text-align: center;
}
.nav-sel-cust select {
  margin:15px;
  position:fixed;
}
/*Navigation Style Settigs*/
.sel-about {
  left:150px;
}
.sel-projects {
  left:350px;
}
.sel-more {
  left: 550px;
}

/*Custom IAN Studios™ Scroll Bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
