
:root {
    --banner-color-primary: #4287f5bd;
}
.home-banner {
    background-color:var(--banner-color-primary);
    width:100%;
    height:200px;
}
.home-body {
    margin:0%;
    width:100%;
    height:3000px;
}
.home-title-text {
    padding:100px;
    font-family: monospace;
    color:white;
}
