
:root {
    --banner-color-primary: #4287f5bd;
    --brightquartz: rgb(236, 236, 236);
    --text-default: black;
}
.home-banner {
    background-color:var(--banner-color-primary);
    width:100%;
    height:200px;
}
.home-element-body {
    margin:0%;
    width:100%;
    height:3000px;
}
.home-body {
    transition: top 10s;
    height:3800px;
    background-color: var(--brightquartz);
    margin:0px;
}
.home-title-text {
    font-family: system-ui;
    font-size:60px;
    color: var(--brightquartz);
    padding-left:10%;
    padding-right:10%;
    padding-top:50px;
    text-align: center;
    text-decoration: underline;
}
.joke-gaytext {
    color:red;
    font-weight:bold;
}
.home-desc {
  font-family: system-ui;
  color: var(--text-default)
}

/*Custom IAN Studios™ Scroll Bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
