    img.security-louk-img {
        position:absolute;
        left:45%;
        top:25%;
    }
    .security-login-box {
        background-color:yellow;
        height:100px;
        border: 1px solid black;
        border-radius:10px;
        width:50%;
        position:absolute;
        left:25%;
        top:50%;
        
    }
.security-align-center {
    postion:absolute;
    left:50%;
    top:50%;
}
