/* Default Light Mode Global Stylesheet */
:root {
    --banner-color-primary: #4287f5bd;
    --brightquartz: rgb(236, 236, 236);
    --nav-quartz: rgb(219, 209, 209);
    --text-default: black;
}
.home-banner {
    background-color:var(--banner-color-primary);
    width:100%;
    height:250px;
}
.home-element-body {
    margin:0%;
    height:3800px;
    overflow:hidden;
}
.home-body {
    transition: top 10s;
    height:3800px;
    background-color: var(--brightquartz);
    margin:0px;
    overflow:hidden;
}
.home-title-text {
    font-family: system-ui;
    font-size:60px;
    color: var(--brightquartz);
    padding-left:10%;
    padding-right:10%;
    padding-top:100px;
    text-align: center;
    text-decoration: underline;
}
.joke-gaytext {
    color:red;
    font-weight:bold;
}
.home-desc {
  font-family: system-ui;
  padding: 50px;
  color: var(--text-default);
  font-size:20px;
}
.navigation {
  height:50px;
  width:100%;
  background-color:var(--nav-quartz);
  position:fixed;
}
.nav-logo {
  padding:5px;
  align-items: center;
  text-align: center;
}
.nav-sel-cust select {
  margin:15px;
  position:fixed;
}
/*Navigation Style Settigs*/
.sel-about {
  left:150px;
}
.sel-projects {
  left:350px;
}
.sel-more {
  left: 550px;
}

/*Custom IAN Studios™ Scroll Bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


 
/* Navigation custom menu*/
 /* The container must be positioned relative: */
 .nav-sel-custom {
  position: relative;
  font-family: Arial;
}

.nav-sel-custom select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 


/* Navigation Selction Box CSS */
.nav-sel {
    background-color:red;
}
.nav-sel-top {
    background-color:white;
}
.nav-sel-opt {
    background-color:white;
    width:100px;
}
.nav-sel-top:hover {
    background-color:orange;
}
